# dependencies
node_modules/
**/node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
coverage/
**/coverage/

# next.js
.next/
**/.next/
out/
**/out/

# production & builds
build/
**/build/
dist/
**/dist/

# misc
.DS_Store
*.pem
*.patch
scratch/
*-audit.json
.*-audit.json

# debug & logs
*.log
*.log.*
*.log.gz
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs/
**/logs/

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
